.loansPrincipalContainer {
    display: flex;
    flex-direction: column;
}

.loanListContainer {
    p {
        margin: 0;
        padding: 0;
    }
    display: flex;
    flex-direction: column;
}

.loanContainer {
    border: 0.5px solid $principal;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
    min-height: 110px;
}

.loanLabel {
    font-weight: bold;
}

.loanHeaderContainer {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.loanBodyContainer {
    padding: 5px;
    max-width: 40%;
    
    .loanBodyInfo {
        margin-bottom: 5px;
    }
}

.principalLoanContainer {
    display: flex;
    justify-content: space-between;
}

.loanActionContainer {
    padding: 5px;
    
    button {
        color: $softWhite;
        background-color: $ternary;
        border: none;
        cursor: pointer;
        height: 25px;
    }
}
