@mixin navbar($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin formGroup {
    .formGroup {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 5%;
        
        input, textarea {
            border-radius: 3px;
            outline: 0;
            box-shadow: none;
            border: 0.5px solid $secondary;
            padding: 5px;
            background-color: $softWhite;
            resize: none;
        }

        textarea:focus, input:focus {
            background-color: white;
            border: 1px solid $ternary;   
        }

        label {
            align-self: flex-start;
            margin-bottom: 5px;
            color: $principal;
            font-weight: bold;
        }
    }
}


