@import './variables/color';
@import './mixins/genericComponents';
@import './general';

/*Books*/
@import './components/Book/bookComponent';


/*loans*/
@import './components/Loan/LoanComponent';

/*Users*/
@import './components/User/UserComponent.scss';

body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: $softWhite;
    overflow-x: hidden;
}

li, a {
    list-style: none;
    text-decoration: none;
}

.principalHeader {
    border-bottom: 3px solid $principal;
    padding: 5px;
    min-width: 100%;
    background-color: $principal;
}

.principalHeader > .logo {
    margin-left: 10px;
    color: $softWhite
}

.principalContainer {
    padding: 0px 15px;
}


a:hover {
    text-decoration: underline;
    color: $principal;
}
button:focus {
    outline:0;
}

button {
    border-radius: 2px;
    white-space: nowrap;
    outline: none;
}
a {
    color: $secondary;
    font-weight: bold;
    display: block;
}

.principalNavBar > ul{
    height: 50px;
    border: 0.5px solid $secondary;
    border-radius: 5px;
    background-color: $ternary;
    height: 35px;
    li a{
        color: $softWhite;
    }
    @include navbar(row, space-around, center);
}

.formModal {
    position: fixed;
    z-index: 99999;
    min-width: 25%;
    min-height: 400px;
    left: calc(50% - 25%);
    right: calc(50% - 25%);
    top: 0;
    background-color: white;

    form {
      display: flex;
      flex-direction: column;
      @include formGroup;
    }

    .close {
        color: $exit;
        font-weight: bold;
        position: absolute;
        margin: 5px;
        padding: 5px;
        right: 5px;
        font-size: 30px;
        cursor: pointer;
    }

    button {
      height: 50px;
      color: $softWhite;
      font-size: 25px;
      background-color: $ternary;
      cursor: pointer;
      border: none;
      border-radius: 0;
      transition: ease-out 2s;
    }

    @include opacityHoverButton;
}

.filterPanel {
    background-color: $ternary;
    padding: 5px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: $softWhite;
    border-radius: 0px 0px 4px 4px;
    .filterContainer {
        display:flex;
        justify-content: space-around;
    }

    .filterButton {
        button {
            background-color: $softWhite;
            border: none;
            color: $ternary;
            cursor: pointer;
            padding: 5px;
            height: auto;
            font-weight: bold;
        }
    }

    .filterGroup {
        flex-grow: 1;
    }

    .filterGroupGrow4 {
        flex-grow: 4;
    }

    .inputGroup {
       display: flex;
       flex-grow: 2;
       padding-bottom: 5px;
    }

    input {
        height: 20px;
        border: none;
    }
}

.optionsLinkGroup {
    border: 0.5px solid $secondary;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: $contrast;
    nav > ul {
        @include navbar(row, flex-start, center);
    }

    nav > ul > li {
        margin: 5px;
    }
}

